<form class="search-form" id="search-form">
  <div class="search-form--wrapper">
    <input
      class="search-form__input"
      type="text"
      name="searchQuery"
      autocomplete="off"
      placeholder="Search images..."
    />
    <button class="search-form__btn" type="submit">
      <svg class="search-icon">
        <use href="./images/search/symbol-defs.svg#icon-search"></use>
      </svg>
    </button>
  </div>
</form>

<div class="gallery"></div>
<button type="button" class="load-more">Load more</button>
